.albums-card {
  border: 1px solid gray;
  padding: 3%;
  margin: 5px;
  list-style-type: none;
  border-radius: 5px;
  background-color: sandybrown;
  color: white;
  display: flex;
  flex-direction: row;
}
